#body{
    width: 300px;
    margin: 0 auto; 
    background-color: #909090;
    margin-top: 100px;
    padding: 10px;
    border: 1px solid grey;
}

#roundResults{
    background-color:grey;
    height: 100px;
    width: 300px;
}
button{
    padding: 10px 20px;
    margin: 10px;
    border: none;
}
button:hover{
    background-color: yellow;
}
button:active{
    opacity: 70%;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: arial;
    font-weight: 300;
}